<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sfk"
        tools:replace="android:theme">
        <activity
            android:name=".testActivity"
            android:exported="false" />
        <activity
            android:name=".smsActivity"
            android:exported="false" />
        <activity android:name=".setPasswordActivity" />
        <activity
            android:name=".passwordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aboutUsActivity" />
        <activity android:name=".numberShowActivity" />
        <activity android:name=".setnumberActivity" />
        <activity android:name=".charkheshiActivity" />
        <activity android:name=".mehpashActivity" />
        <activity android:name=".shadesActivity" />
        <activity android:name=".abyariActivity" />
        <activity android:name=".fanPadsActivity" />
        <activity android:name=".daricheActivity" />
        <activity android:name=".shadesReviewActivity" />
        <activity android:name=".mehpashReviewActivity" />
        <activity android:name=".gardshiReviewActivity" />
        <activity android:name=".abyariReviewActivity" />
        <activity android:name=".fansReviewActivity" />
        <activity android:name=".daricheReportActivity" />
        <activity android:name=".mesuringActivity" />
        <activity android:name=".bokharyrieportActivity" />
        <activity android:name=".bokhriActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>